<div class='footer-container'>
  <div class='subscribe-container'>
    <div class='subscribe-title'>NEWSLETTER</div>
    <div class='subscribe-sub-title'>GET DISCOUNT 30% OFF</div>
    <div class='subscribe-email'>
      <input class='textbox' type='text' placeholder='Enter your email address'>
      <button class='button red'><fa-icon [icon]="faEnvelope"></fa-icon>SUBSCRIBE</button></div>
  </div>
  <div class='footer-links-container'>
    <div class='padded-container'>
      <div class='footer-link-cell-container'>
        <div class='footer-link-cell'>
          <div class='footer-title'>GUIDE</div>
          <div class='footer-link-list'>
            <div class='footer-link-row'>one</div>
            <div class='footer-link-row'>two</div>
            <div class='footer-link-row'>three</div>
            <div class='footer-link-row'>four</div>
            <div class='footer-link-row'>five</div>
          </div>
        </div>
        <div class='footer-link-cell'>
          <div class='footer-title'>INFORMATION</div>
          <div class='footer-link-list'>
            <div class='footer-link-row'>one</div>
            <div class='footer-link-row'>two</div>
            <div class='footer-link-row'>three</div>
            <div class='footer-link-row'>four</div>
            <div class='footer-link-row'>five</div>
          </div>
        </div>
        <div class='footer-link-cell'>
          <div class='footer-title'>title</div>
          <div class='footer-link-list'>
            <div class='footer-link-row'>one</div>
            <div class='footer-link-row'>two</div>
            <div class='footer-link-row'>three</div>
            <div class='footer-link-row'>four</div>
            <div class='footer-link-row'>five</div>
          </div>
        </div>
        <div class='footer-link-cell'>
          <div class='footer-title'>CONTACT</div>
          <div class='footer-link-list'>
            <div class='footer-link-row'>Brigade Road</div>
            <div class='footer-link-row'>Kochi, 123456</div>
            <div class='footer-link-row'>Kerala</div>
            <div class='footer-link-row'>+91-989-555-6666</div>
            <div class='footer-link-row'>customercare@kada.com</div>
          </div>
        </div>
      </div>
      <div class='footer-link-payment-options'>

      </div>
    </div>
  </div>
</div>
