.admin-category-component{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 0px 20px;

  .list{
    display: flex;
    flex-direction: column;
    padding: 20px;

    .list-row{
      padding: 15px 5px;
      border-bottom: 1px solid lightgray;
    }
  }

}
