<div class='best-seller-component'>
  <div class='best-seller-title'></div>
  <div class='best-seller-items-component'>

    <div class='best-seller-item'>
      <div class='best-seller-image'><fa-icon [icon]="faThLarge"></fa-icon></div>
      <div class='best-seller-name'>Organic carrot</div>
      <div class='best-seller-rating'>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
      </div>
      <div class='best-seller-price'>
       Rs 84.50/-
      </div>
    </div>

    <div class='best-seller-item'>
      <div class='best-seller-image'><fa-icon [icon]="faThLarge"></fa-icon></div>
      <div class='best-seller-name'>Organic carrot</div>
      <div class='best-seller-rating'>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
      </div>
      <div class='best-seller-price'>
       Rs 84.50/-
      </div>
    </div>

    <div class='best-seller-item'>
      <div class='best-seller-image'><fa-icon [icon]="faThLarge"></fa-icon></div>
      <div class='best-seller-name'>Organic carrot</div>
      <div class='best-seller-rating'>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
      </div>
      <div class='best-seller-price'>
       Rs 84.50/-
      </div>
    </div>

    <div class='best-seller-item'>
      <div class='best-seller-image'><fa-icon [icon]="faThLarge"></fa-icon></div>
      <div class='best-seller-name'>Organic carrot</div>
      <div class='best-seller-rating'>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
      </div>
      <div class='best-seller-price'>
       Rs 84.50/-
      </div>
    </div>

  </div>
</div>
