.admin-home-component{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;

  .banner{
    padding-bottom: 0px;
    position: relative;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-image: url('../../../assets/images/admin/admin-banner.jpg');
    background-size: cover;
    background-position: left top;
    width: 100%;
    height: 100%;
    opacity: 1;
  }



  .padded-container{
    width: 1240px;
    height: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 20px 0;

    .admin-nav-content-container{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 0.6fr 2fr;
      grid-template-rows: 1fr;
      grid-gap: 15px;
    }
  }
}


.side-nav-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #FFF;
  box-shadow: 2px 2px 2px lightgray;

  a{
    text-decoration: none;
    padding: 20px 0 20px 20px;
    border-bottom: 1px #ececec solid;
    color: #000;
    font-size: 0.9rem;
    border-left: 2px solid #FFF;

    &.active{
      border-left: 2px solid var(--green)
    }
  }
}

.admin-content-container{
  width: 100%;
  height: 100%;
  background: #FFF;
  box-shadow: 2px 2px 2px lightgray;
}
