<div class='padded-container'>
  <div class='highlight-container'>
    <div class='highlight-item'>
      <div class='highlight-icon'><fa-icon [icon]="faTruck"></fa-icon></div>
      <div class='highlight-desc'>
        <div>FREE SHIPPING ON </div>
        <div>ORDER OVER Rs.1000/-</div>
      </div>
    </div>
    <div class='highlight-item'>
      <div class='highlight-icon'><fa-icon [icon]="faPhone"></fa-icon></div>
      <div class='highlight-desc'>
        <div>HAVE A QUESTION?</div>
        <div>+91-989-555-6666</div>
      </div>
    </div>
    <div class='highlight-item'>
      <div class='highlight-icon'><fa-icon [icon]="faRupeeSign"></fa-icon></div>
      <div class='highlight-desc'>
        <div>100% MONEY BACK</div>
        <div>GUARANTEE</div>
      </div>
    </div>
    <div class='highlight-item'>
      <div class='highlight-icon'><fa-icon [icon]="faBriefcase"></fa-icon></div>
      <div class='highlight-desc'>
        <div>30 DAYS</div>
        <div>RETURN SERVICE</div>
      </div>
    </div>
  </div>
</div>

